*{
    margin:0 auto;
    padding:0;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    color:#333;
    text-decoration:none;
}

body{
    overflow-x: hidden;
    color:#333F32;
    background-color:#FFFAE9;
}

#head{
    width:100%;
    height:100px;
    box-shadow:0 1px 10px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    background-color:#333f32;
}
    #logo{
        width:25%;
        height:100px;
        float:left;
    }

        #logo img{
            width:85px;
            height:42px;
            float:right;
            margin-top:25px;
        }

    #head_menu{
        width:75%;
        height:100px;
        float:left;
    }
        #head_menu ul{
            width:100%;
            height:100px;
            float:left;
            margin-left:40%;
        }
            #head_menu ul li{
                width:200px;
                height:190px;
                float:left;
                list-style:none;
            }
                #head_menu ul li a{
                    width:100%;
                    height:20px;
                    float:left;
                    margin-bottom:10px;
                    color:#DDD1BB;
                    font-size:12pt;
                    text-align:center;
                    line-height:80px;
                }

                #head_menu ul li hr{
                    width:84px;
                    height:1px;
                    margin-top:60px;
                    border:0;
                    background-color:#DDD1BB;
                }

                #head_menu ul li img{
                    width:42px;
                    height:42px;
                    float:right;
                    margin-top:25px;
                }
                #userIcon{
                    border-radius: 100%;
                }

#main{
    width:100%;
    height:1000px;
    float:left;
    position:relative;
}
    #flag{
        width:80px;
        height:345px;
        float:left;
        margin-left:25%;
        position:absolute;
        filter:drop-shadow(2px 2px 5px);
        z-index:1;
    }

    #profile{
        width:100%;
        height:700px;
        float:left;
        position:relative;

    }
        #profile_img{
            border-radius: 100%;
        }
        #title{
            width:84px;
            height:30%;
            float:left;
            top:130px;
            left:50%;
            transform:translate(-50%);
            position:relative;
        }
            #title p{
                width:100px;
                height:20px;
                font-size:12pt;
                font-weight:bold;
                text-align:center;
                margin-bottom:10px;
            }

            #profile_img{
                width:100px;
                height:100px;
                float:left;
                margin-top:50px;
            }

            #photo{
                width:24px;
                height:24px;
                float:left;
                margin-top:130px;
                margin-left:-30px;
                position:absolute;
                z-index:1;
            }

        #input{
            width:300px;
            height:70%;
            float:left;
            top:400px;
            left:46%;
            transform:translate(-50%);
            position:relative;
        }
            #input ul{
                width:100%;
                height:100%;
                float:left;
            }
                #input ul li{
                    width:100%;
                    height:50px;
                    list-style:none;
                }
                    .input_title{
                        width:85px;
                        height:20px;
                        float:left;
                        font-size:11pt;
                        text-align:center;
                        line-height:20px;
                    }

                    .input_text{
                        width:198px;
                        height:20px;
                        float:left;
                        font-size:11pt;
                        line-height:20px;
                        border:0;
                        background-color:transparent;
                    }

                    input:focus{
                        outline:none;
                    }

                    #input ul li hr{
                        width:198px;
                        margin-left:83px;
                    }
        #save{
            width:80px;
            height:26px;
            float:left;
            margin-top:25%;
            margin-left:45%;
            cursor:pointer;
            border:none;
            background-color:#F7F0DF;
            box-shadow:1px 2px 5px 1px rgba(0, 0, 0, 0.25);
        }

        #save:hover{
            color:#FFFAE9;
            background-color:#333f32;
        }

    #menu{
        width:100%;
        height:40%;
        float:left;
        position:relative;
    }
        #menu > div{
            width:280px;
            height:72px;
            float:left;
            margin-top:100px;
            margin-right:20px;
            position:relative;
            background-color:#F7F0DF;
            box-shadow:1px 2px 5px 1px rgba(0, 0, 0, 0.25);
        }

        #write{
            margin-left:26%;
        }
            .title{
                width:75px;
                height:20px;
                float:left;
                margin-top:40px;
                margin-left:165px;
                font-size:11pt;
                text-align:right;
                line-height:20px;
            }

            #menu > div img{
                width:10px;
                height:18px;
                float:left;
                margin-top:-18px;
                margin-left:250px;
            }


#footer{
    width:100%;
    height:250px;
    float:left;
    color:#FFFAE9;
    position:relative;
    background-color:#333f32;
}

    #footer_left{
        width:50%;
        height:100%;
        float:left;
        position:relative;
    }

        #footer_left > img{
            width:100px;
            height:57px;
            margin-top:30px;
            margin-left:40%;
            position:relative;
        }

        #footer_left p{
            margin-top:20px;
            margin-left:40%;
        }

        #footer_left table{
            margin-top:20px;
            margin-left:40%;
        }

    #footer_right{
        width:50%;
        height:100%;
        float:left;
        position:relative;
    }

        #sns{
            width:200px;
            height:50px;
            float:left;
            margin-top:60px;
            margin-left:40%;
            position:relative;
        }

            #sns img{
                float:left;
                margin-left:10px;
                cursor:pointer;
            }