*{
    margin:0 auto;
    padding:0;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    color:#333;
    text-decoration:none;
}

body{
    overflow-x: hidden;
    color:#333F32;
    background-color:#FFFAE9;
}

input:focus{
    outline:none;
}

#head{
    width:100%;
    height:100px;
    box-shadow:0 1px 10px 2px gray;
    position: relative;
    background-color:#333f32;
}
    #logo{
        width:25%;
        height:100px;
        float:left;
    }

        #logo img{
            width:85px;
            height:42px;
            float:right;
            margin-top:25px;
        }

    #head_menu{
        width:75%;
        height:100px;
        float:left;
    }
        #head_menu ul{
            width:100%;
            height:100px;
            float:left;
            margin-left:40%;
        }
            #head_menu ul li{
                width:200px;
                height:190px;
                float:left;
                list-style:none;
            }
                #head_menu ul li a{
                    width:100%;
                    height:20px;
                    float:left;
                    margin-bottom:10px;
                    color:#DDD1BB;
                    font-size:12pt;
                    text-align:center;
                    line-height:80px;
                }

                #head_menu ul li hr{
                    width:84px;
                    height:1px;
                    margin-top:60px;
                    border:0;
                    background-color:#DDD1BB;
                }

                #head_menu ul li img{
                    width:42px;
                    height:42px;
                    float:right;
                    margin-top:25px;
                }
                #userIcon{
                    border-radius: 100%;
                }

#main{
    width:100%;
    height:2200px;
    float:left;
    position:relative;
}

    #contents{
        width:1180px;
        height:80%;
        float:left;
        left:50%;
        position:relative;
        transform:translate(-50%);
    }
        #title{
            width:100%;
            height:50px;
            float:left;
            top:100px;
            left:50%;
            text-align:center;
            transform:translate(-50%);
            position:relative;
        }
            #title p{
                width:100px;
                height:20px;
                font-size:12pt;
                font-weight:bold;
                text-align:center;
                margin-bottom:10px;
            }
        #write_title{
            width:88%;
            height:50px;
            float:left;
            margin-top: 130px;
            margin-bottom:20px;
            position:relative;
            background-color:#333f32;
            box-shadow:1px 2px 5px 1px #ccc7ba;
        }
            #input_title{
                width:90%;
                height:20px;
                float:left;
                margin-top:15px;
                margin-left:20px;
                color:#fffae9;
                font-size:9pt;
                line-height:20px;
                border:none;
                background-color:transparent;
            }

            #input_title::placeholder{
                color:#fffae9;
            }
        #select_Change{
            width:10%;
            height:50px;
            float:right;
            margin-top: 130px;
            margin-bottom:20px;
            position:relative;
            background-color:#333f32;
            box-shadow:1px 2px 5px 1px #ccc7ba;
            text-align: center;
        }
            select{
                color:#FFFAE9;
                border: none;
                background-color: #333f32;
            }
            option{
                color:#333f32;
                background: #fff9ee;
            }


        #write_menu{
            width:100%;
            height:134px;
            float:left;
            position:relative;
            background-color:#FFFAE9;
            box-shadow:1px 2px 5px 1px #ccc7ba;
        }

            .menu_item{
                width:30px;
                height:70px;
                float:left;
                margin-top:15px;
                margin-right:80px;
            }

            .photo{
                /*background-color: #039be5;*/
                width: 50px;
                margin-left:25px;
            }
            .photo img{
                margin-top: 15px;
                width: 50px;
                height: 50px;
            }


            .menu_item img{
                width:30px;
                height:30px;
            }

            .menu_item p{
                width:30px;
                height:35px;
                float:bottom;
                color:gray;
                font-size:9pt;
                text-align:center;
                line-height:35px;
            }

        #write_contents{
            width:100%;
            float:left;
            position:relative;
        }
            #write_top{
                width:100%;
                height:48%;
                float:left;
                margin-top:90px;
                position:relative;
            }

                .content{
                    width:1020px;
                    height:480px;
                    float:left;
                    left:50%;
                    position:relative;
                    transform:translate(-50%);
                }
                .contents_writing{
                    width:700px;
                    height:400px;
                    position:relative;
                    float: left;
                }
                    .contents_writing form{
                        margin-top: 20px;
                        position:absolute;
                        z-index:1;
                    }
                        .input_record{
                            width:275px;
                            height:340px;
                            float:left;
                            margin-left:15px;
                            margin-top:30px;
                            font-size:10pt;
                            resize:none;
                            border:none;
                            background-color:transparent;
                        }

                        textarea:focus{
                            outline:none;
                        }

                    .write_background{
                        width:700px;
                        height:400px;
                        float:left;
                        margin-top: 15px;
                        filter:drop-shadow(0px 5px 4px #ccc7ba);
                    }

                    .add_photo{
                        width:280px;
                        height:400px;
                        float:left;
                        margin-left:20px;
                        margin-right:20px;
                    }

                        #add_photo1{
                            margin-top: 40px;
                        }

                        #add_photo3{
                            margin-top: 40px;
                        }

                        .preview{
                            width:280px;
                            height:180px;
                            float:left;
                            margin-bottom:10px;
                            display:none;
                            object-fit:cover;
                        }

        #write_hr{
            margin-top: 10px;
        }

        #write_bottom{
            width:100%;
            height:52%;
            float:left;
            position:relative;
        }
            #start_date{
                width:460px;
                height:35px;
                float:left;
                margin-top:100px;
                position:relative;
            }

            #end_date{
                width:460px;
                height:35px;
                float:left;
                margin-top:100px;
                position:relative;
            }

            #start_date{
                margin-left:20%;
                margin-right:10px;
            }

            #start_date{
                margin-left:20%;
                margin-right:10px;
            }

                #write_bottom p {
                    float:left;
                    margin-right:15px;
                    font-size:11pt;
                    line-height:40px;
                    color:gray;
                }

                #write_bottom > div input{
                    padding-left:10px;
                }

                .year{
                    width:120px;
                    height:35px;
                    float:left;
                    margin-right:15px;
                    border:none;
                    background-color:#E1D5BF;
                    box-shadow:0 2px 5px 1px #b6b5a9;
                }


                input:focus{
                    outline:none;
                }

            #save_diary{
                width:200px;
                height:35px;
                float:right;
                margin-top:65px;
                position:relative;
            }
                #save_diary button{
                    width:100px;
                    height:35px;
                    float:left;
                    margin-right:10px;
                    border:none;
                    background-color:#e1d5bf;
                    box-shadow:0 2px 5px 1px #b6b5a9;
                }

                #save p{
                    width:80px;
                    height:35px;
                    float:left;
                    margin:0;
                    color:gray;
                    font-size:10pt;
                    text-align:center;
                    line-height:30px;
                }

                #privacy{
                    width:20px;
                    height:20px;
                    float:left;
                    margin-top:8px;
                    border:none;
                    background-color:#E1D5BF;
                }

    #menu{
        width:100%;
        height:20%;
        float:left;
        margin-top: 100px;
    }
        #menu > div{
            width:280px;
            height:72px;
            float:left;
            margin-top:100px;
            margin-right:20px;
            background-color:#F7F0DF;
            box-shadow:1px 2px 5px 1px #ccc7ba;
        }

        #write{
            margin-left:26%;
        }
            .title{
                width:75px;
                height:20px;
                float:left;
                margin-top:40px;
                margin-left:165px;
                font-size:11pt;
                text-align:right;
                line-height:20px;
            }

            #menu > div img{
                width:10px;
                height:18px;
                float:left;
                margin-top:-18px;
                margin-left:250px;
            }

#footer{
    width:100%;
    height:250px;
    float:left;
    color:#FFFAE9;
    position:relative;
    background-color:#333f32;
}

    #footer_left{
        width:50%;
        height:100%;
        float:left;
        position:relative;
    }

        #footer_left > img{
            width:100px;
            height:57px;
            margin-top:30px;
            margin-left:40%;
            position:relative;
        }

        #footer_left p{
            margin-top:20px;
            margin-left:40%;
        }

        #footer_left table{
            margin-top:20px;
            margin-left:40%;
        }

    #footer_right{
        width:50%;
        height:100%;
        float:left;
        position:relative;
    }

        #sns{
            width:200px;
            height:50px;
            float:left;
            margin-top:60px;
            margin-left:40%;
            position:relative;
        }

            #sns img{
                float:left;
                margin-left:10px;
                cursor:pointer;
            }
