*{
    margin:0 auto;
    padding:0;
    font-family: 'Noto Sans KR', sans-serif;
}

a{
    color:#333;
    text-decoration:none;
}

body{
    width:100%;
    overflow-x: hidden;
    color:#333F32;
    background-color:#FFFAE9;
}

input:focus{
    outline:none;
}

textarea:focus{
    outline:none;
}

#head{
    width:100%;
    height:100px;
    box-shadow:0px 5px 40px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    background-color:#333f32;
}
    #logo{
        width:25%;
        height:100px;
        float:left;
    }

        #logo img{
            width:85px;
            height:42px;
            float:right;
            margin-top:25px;
        }

    #head_menu{
        width:75%;
        height:100px;
        float:left;
    }
        #head_menu ul{
            width:100%;
            height:100px;
            float:left;
            margin-left:40%;
        }
            #head_menu ul li{
                width:200px;
                height:190px;
                float:left;
                list-style:none;
            }
                #head_menu ul li a{
                    width:100%;
                    height:20px;
                    float:left;
                    margin-bottom:10px;
                    color:#DDD1BB;
                    font-size:12pt;
                    text-align:center;
                    line-height:80px;
                }

                #head_menu ul li hr{
                    width:84px;
                    height:1px;
                    margin-top:60px;
                    border:0px;
                    background-color:#DDD1BB;
                }

                #head_menu ul li img{
                    width:42px;
                    height:42px;
                    float:right;
                    margin-top:25px;
                }
                #userIcon{
                    border-radius: 100%;
                }
#main{
    width:100%;
    height:4580px;
    float:left;
    position:relative;
    background-color:#FFFAE9;
}

    .write_background{
        width:700px;
        height:400px;
        float:left;
        filter:drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
    }

    #title{
        width:100%;
        height:160px;
        float:left;
        margin-top:165px;
        position:relative;
    }

        #title > div{
            width:50%;
            height:160px;
            float:left;
            background-color:#333f32;
            position:absolute;
        }

        #title > img {
            float:left;
            left:50.1%;
            margin-top:35px;
            position:absolute;
            transform:translate(-50%);
            z-index:1;
        }

    #greece_info{
        width:100%;
        height:450px;
        margin-top:180px;
        float:left;
        position:relative;
    }

        #greece_info > img{
            height:400px;
            float:left;
            z-index:1;
        }

        #write_info{
            margin-left:20px;
            position:absolute;
        }

        #info_l{
            width:300px;
            height:350px;
            float:left;
            margin-top:30px;
            margin-left:60px;
            position:relative;
            z-index:1;
        }

            #flag{
                width:100%;
                height:155px;
                float:left;
                margin-left:20px;
                position:relative;
            }

                #flag p{
                    font-size:11pt;
                }

                #flag img{
                    margin-top:15px;
                    margin-left:20px;
                    box-shadow:2px 2px 4px 2px rgba(0, 0, 0, 0.25);
                }

                #flag div{
                    width:172px;
                    height:62px;
                    float:left;
                    margin-top:-50px;
                    margin-left:40px;
                    position:absolute;
                    background-color:#E1D5BF;
                    z-index:-1;
                }

            #basic_info{
                width:100%;
                height:160px;
                float:left;
                margin-top:30px;
                margin-left:20px;
                position:relative;
            }

                #basic_info ul li{
                    margin-bottom:13px;
                    font-size:10pt;
                }

        #info_r{
            width:300px;
            height:300px;
            float:left;
            margin-top:40px;
            margin-left:33px;
            position:relative;
            z-index:1;
        }

            #info_r p{
                width:271px;
                font-size:10pt;
                line-height:16px;
            }

    .city{
        width:100%;
        height:405px;
        float:left;
        position:relative;
        z-index:1;
    }

    #athens{
        margin-top:245px;
    }

        #write_athens{
            margin-left:30%;
            position:absolute;
        }

        #athens_l{
            width:300px;
            height:400px;
            float:left;
            margin-top:20px;
            margin-left:31.5%;
            position:relative;
            z-index:1;
        }

            #athens_l > p{
                width:100%;
                float:left;
                margin-top:5px;
                margin-left:12px;
                font-size:10pt;
            }

            #athens_l ul{
                width:270px;
                height:350px;
                float:left;
                margin-top:20px;
                margin-left:20px;
            }

                #athens_l ul li{
                    width:45px;
                    font-size:10pt;
                    float:left;
                }

                #athens_l ul p{
                    width:210px;
                    float:left;
                    margin-left:5px;
                    margin-top:-1px;
                    margin-bottom:10px;
                    font-size:10pt;
                }

        #athens_r{
            width:300px;
            height:400px;
            float:left;
            margin-top:20px;
            margin-left:50px;
            position:relative;
            z-index:1;
        }

            #athens_r ul{
                margin-top:10px;
                margin-left:20px;
            }

                #athens_r ul li{
                    width:45px;
                    font-size:10pt;
                    float:left;
                }

                    #athens_r ul p{
                        width:210px;
                        float:left;
                        margin-left:5px;
                        margin-bottom:10px;
                        font-size:10pt;
                    }

        #athens_img{
            width:282px;
            height:100%;
            float:left;
            margin-left:50px;
            position:relative;
        }


    #santorini{
        margin-top:380px;
    }

        #write_santorini {
            float: left;
            margin-left:20px;
            position:absolute;
        }

        #santorini_l{
            width:300px;
            height:400px;
            float:left;
            margin-top:50px;
            margin-left:80px;
            position:relative;
            z-index:1;
        }

            #santorini_l > p{
                width:100%;
                float:left;
                margin-top:5px;
                margin-left:-8px;
                font-size:10pt;
            }

            #santorini_l ul{
                width:270px;
                height:350px;
                float:left;
                margin-top:30px;
            }

                #santorini_l ul li{
                    width:45px;
                    font-size:10pt;
                    float:left;
                }

                #santorini_l ul p{
                    width:210px;
                    float:left;
                    margin-top:-1px;
                    margin-bottom:10px;
                    font-size:10pt;
                }

        #santorini_r{
            width:300px;
            height:400px;
            float:left;
            margin-top:10px;
            margin-left:30px;
            position:relative;
            z-index:1;
        }

            #santorini_r ul{
                width:270px;
                height:350px;
                float:left;
                margin-top:50px;
            }

                #santorini_r ul li{
                    width:60px;
                    font-size:10pt;
                    float:left;
                }

                #santorini_r ul p{
                    width:210px;
                    float:left;
                    margin-top:-1px;
                    margin-bottom:10px;
                    font-size:10pt;
                }

    #greece_record{
        width:100%;
        height:700px;
        float:left;
        margin-top:200px;
        position:relative;
        z-index:1;
    }

        #greece_record > p{
            width:100%;
            height:20px;
            float:left;
            color:#344031;
            font-size:15pt;
            font-weight:bold;
            text-align:center;
            line-height:20px;
            position:relative;
        }

        #record_list{
            width:1300px;
            height:335px;
            float:left;
            top:15%;
            left:53%;
            position:relative;
            overflow-y:auto;
            transform:translate(-50%);
        }

        #record_list::-webkit-scrollbar{
            width:5px;
            border-radius:5px;
            background-color:#9DA092;
        }

        #record_list::-webkit-scrollbar-thumb{
            width:5px;
            border-radius:5px;
            background-color:#333f32;
        }


            .record{
                width:180px;
                height:298px;
                float:left;
                margin:10px 60px 60px 60px;
                position:relative;
            }

                .record p{
                    width:180px;
                    height:20px;
                    float:left;
                    font-size:14px;
                    font-weight:bold;
                    text-align:center;
                    line-height:20px;
                }

    #greece_tip{
        width:100%;
        height:1000px;
        float:left;
        position:relative;
    }
        #greece_tip > div > p{
            width:100%;
            height:82px;
            float:left;
            color:#344031;
            font-size:15pt;
            font-weight:bold;
            text-align:center;
            line-height:82px;
            position:relative;
        }

        #tip_top{
            width:100%;
            height:223px;
            float:left;
            margin-top:95px;
            position:relative;
        }

            #tip_top form{
                width:980px;
                height:100%;
                float:left;
                left:50%;
                position:relative;
                transform:translate(-50%);
            }

                #write{
                    width:100%;
                    height:93px;
                    float:left;
                    border-radius:5px;
                    position:relative;
                    background-color:rgba(51, 63, 50, 0.5);
                }

                    #tip_write{
                        width:910px;
                        height:30px;
                        float:left;
                        margin-top:15px;
                        margin-left:30px;
                        resize:none;
                        color:#FFFAE9;
                        font-size:12pt;
                        border:none;
                        background-color:transparent;
                    }

                    #tip_write::placeholder{
                        color:#FFFAE9;
                    }

                    #write button{
                        width:70px;
                        height:20px;
                        float:right;
                        margin-top:10px;
                        color:#FFFAE9;
                        font-size:12pt;
                        text-align:center;
                        line-height:20px;
                        border:none;
                        background-color:transparent;
                    }

        #tip_bottom{
            width:100%;
            height:500px;
            float:left;
            position:relative;
        }

            #tip_list{
                width:1100px;
                height:100%;
                float:left;
                left:50.5%;
                margin-top:40px;
                position:relative;
                transform:translate(-50%);
                overflow-y:auto;
            }

            #tip_list::-webkit-scrollbar{
                width:5px;
                border-radius:5px;
                background-color:#9DA092;
            }

            #tip_list::-webkit-scrollbar-thumb{
                width:5px;
                border-radius:5px;
                background-color:#333f32;
            }

                .tip{
                    background-color: #333F32;
                    border-radius: 30px;
                    width:980px;
                    height:130px;
                    margin-top: 30px;
                    position:relative;
                }
                    .user_id{
                        width:90%;
                        height:20px;
                        margin-top:12px;
                        margin-left: 120px;
                        font-size:13pt;
                        color:white;
                        text-align:left;
                        line-height:20px;
                        position:absolute;
                    }

                    .tip img{
                        position:absolute;
                        border-radius: 100%;
                        margin-top: 1%;
                    }

                    .tip_subject{
                        width:90%;
                        height:40px;
                        margin-top:55px;
                        margin-left: 120px;
                        color:white;
                        font-size:15pt;
                        text-align:left;
                        position:absolute;
                    }


#footer{
    width:100%;
    height:250px;
    float:left;
    color:#FFFAE9;
    position:relative;
    background-color:#333F32;
}

    #footer_left{
        width:50%;
        height:100%;
        float:left;
        position:relative;
    }

        #footer_left > img{
            width:100px;
            height:57px;
            margin-top:30px;
            margin-left:40%;
            position:relative;
        }

        #footer_left p{
            margin-top:20px;
            margin-left:40%;
        }

        #footer_left table{
            margin-top:20px;
            margin-left:40%;
        }

    #footer_right{
        width:50%;
        height:100%;
        float:left;
        position:relative;
    }

        #sns{
            width:200px;
            height:50px;
            float:left;
            margin-top:60px;
            margin-left:40%;
            position:relative;
        }

            #sns img{
                float:left;
                margin-left:10px;
                cursor:pointer;
            }
